<div>
    <h4 class="comment-h4">Comments</h4>
    {{#each this}}
    <p>
        {{comment_text}}
        </br>
        <span class="post-credit">Posted by {{user.username}} on {{format_date created_at}}</span>
    </p>
    {{/each}}
</div>