<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>Dashboard</li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
        <h1>
            <a href="/">Tech Blog</a>
        </h1>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        &copy; 2022 by Kayla Backus
    </footer>
</body>
</html>