<section>
    <h2>Your Dashboard</h2>
    <h3>Create New Post</h3>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>

        <div>
            <lable for="post-body">Content</lable>
            <input type="textarea" id="post-body" name="post-body" />
        </div>

        <button type="submit">Create</button>
    </form>
</section>