<h2>Read the Latest Posts</h2>

<ul>
    {{#each posts as |post|}}
    <li>
        <h3><a href="/post/{{post.id}}">{{title}}</a></h3>
        <p>Posted by {{user.username}} on {{created_at}}</p>
    </li>
    {{/each}}
</ul>