<article>
    {{> post-info post }}
</article>

{{#if loggedIn}}
<form class="content-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

<div>
    <h4>Comments</h4>
    {{#each post.comments}}
    <p>
        {{comment_text}}
        </br>
        <em>Posted by {{user.username}} on {{created_at}}</em>
    </p>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}