* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #fff;
    --second-color: #000;
    --third-color: #0e90ad;
    --fourth-color: #2F6C7A;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--first-color);
    color: var(--second-color);
}

/* Header and Navigation Section */
header {
    background-color: var(--third-color);
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header a {
    color: var(--first-color);
    text-decoration: none;
}

header a:hover {
    color: var(--fourth-color);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 15px;
    font-size: 18px;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    color: var(--first-color);
}

.btn-no-style:hover {
    color: var(--fourth-color);
}

/* Main section */
main {
    padding: 30px 35px 50px 35px;
}

.page-name {
    padding: 0 0 15px 0;
}

.btn {
    background-color: var(--fourth-color);
    border: none;
    padding: 8px 30px;
    color: var(--first-color);
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0px;
}

.btn:hover {
    background-color: var(--third-color);
    border: none;
    padding: 8px 30px;
    color: var(--first-color);
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0px;
}

/* Login and Sign Up Forms */
.form-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 16px;
}

/* Reference W3Schools */
input[type=text] {
    width: 100%;
    padding: 8px;
    margin: 0 0 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 0 0 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
/* End reference */
/* End Login and Sign Up Forms */

/* Homepage and Post Info */
ul.post-list {
    list-style-type: none;
}

.post-list li {
    padding: 0 0 16px 0;
}

.post-title a {
    text-decoration: none;
    color: var(--fourth-color);
}

.post-title a:hover {
    text-decoration: none;
    color: var(--third-color);
}

.post-content {
    font-size: 16px;
}

.post-credit {
    font-style: italic;
    font-size: 14px;
}

/* Single Post and Comments */
.comment-form {
    margin-top: 18px;
}

textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif
}

.comment-h4 {
    margin-top: 16px;
    margin-bottom: 8px;
}

/* Footer */
footer {
    color: var(--second-color);
    padding: 10px 35px;
    font-size: 12px;
}